body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFB000;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.4);
    width: 320px;
    padding: 20px;
    text-align: center;
    border: 2px solid #444;
}

.display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    margin-bottom: 15px;
    background-color: #222;
    color: white;
    border: none;
    text-align: right;
    padding-right: 10px;
    outline: none;
    border-radius: 5px;
    border: 2px solid #444;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn {
    background-color: #F5F5DC;
    color: #000;
    border: none;
    font-size: 24px;
    padding: 15px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    border: 2px solid #444;
    box-shadow: 0px 20px 100px rgba(225, 12, 12, 0.4);
}

.btn:hover {
    background-color: #0056b3;
}

.ac {
    width: 100%;
    background-color: #f00;
    margin-bottom: 20px;
    ;
}

.ac:hover {
    background-color: #891212;
}